body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff;
    color: #363836;
    width: 100%; 
    height:80%;
    width: 80%;
    font: 1em;
    margin-left: 15%;
}

 header {
    width: 1100px;
    margin-left: calc(50%-400px);
    display: inline-block;   
}

header > div {
    font-family: cursive;
    font-size: 30px;
    color: orange;
    font-weight: bold;    
    display: inline;
    width: 60%;
    margin-top: 2%;
    margin-right: 30%;
}

.link    {
    float: right;
    display: inline;
    font-size: 20px;
    color: #654545;
    text-decoration: none;
    margin-right: 10px;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    gap: 60px;
}

.text {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-left: 0%;
}

.photo {
    height: 350px;
    width: 300px;
}

.big-text {
    align-items: stretch;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
}

.main-text {
    display: inline-block;
    font-size: 20px;
    font-weight: none;
}


